<dx-popup [maxWidth]="700" [(visible)]="visible" (onHiding)="onHiding()">
    <div class="mt-2 mb-6">
        <p>
            • Persona Natural Nacional: Adquiere calidad de comerciante por desarrollar de forma profesional una actividad mercantil en el territorio colombiano, este actúa siempre en nombre propio y se identifica con el número de cedula más un digito adicional que
            le otorga la DIAN.
            <br />
            <br /> • Persona Jurídica Nacional: Organización, empresa o grupo compuesta por uno o varios individuos que actúan de modo conjunto a través de una única personalidad jurídica en el territorio colombiano. Su actuar debe ser a través de un
            representante legal y se identifica con el certificado de existencia y representación legal y el NIT que fija la DIAN.

            <br />
            <br /> • Persona Natural Extranjera: Desarrollar una actividad mercantil por fuera del territorio colombiano, este actúa siempre en nombre propio.
            <br /> • Foreign Natural Person: Acts in his/her own name, not as a representative of an organization, who develops commercial activities outside of the territory of Colombia.
            <br />
            <br /> • Persona Jurídica Extranjera: Organización, empresa o grupo compuesta por uno o varios individuos que actúan de modo conjunto a través de una única personalidad jurídica por fuera del territorio colombiano. Su actuar debe ser a través
            de un representante legal.
            <br /> • Foreign Legal Entity: Organization, company or group conformed by one or more individuals, acting jointly through a single entity with legal status outside of Colombia. The actions must be carried out by a legal representative of
            the organization, company or group.
        </p>
    </div>
</dx-popup>