<dx-popup [maxWidth]="650" height="auto" [showTitle]="true" title="Recuperación de contraseña - Password recovery" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="visible" (onHiding)="onHiding()">
    <div *dxTemplate="let data of 'content'" class="no-shadow">
        <form (submit)="onSubmit($event)">
            <dx-form [(formData)]="forgotPassword">
                <dxi-item>
                    <p *dxTemplate class="alert alert-primary no-shadow">
                        Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña. Enter your email and we will send you a link to reset your password
                    </p>
                </dxi-item>
                <dxi-item dataField="email">
                    <dxo-label text="Correo electrónico - Email"></dxo-label>
                    <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
                    <dxi-validation-rule type="email"></dxi-validation-rule>
                </dxi-item>
                <dxi-item itemType="button" horizontalAlignment="center" [buttonOptions]="{
            text: 'Enviar correo - Send mail',
            type: 'default',
            width: '100%',
            icon: 'fas fa-envelope',
            height: 45,
            useSubmitBehavior: true
          }">
                </dxi-item>
            </dx-form>
        </form>
    </div>
</dx-popup>